body {
  margin: 0;
}

.title
{
  font-size:22px;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:10px;
  padding-right:10px;
  background-color: #DDDDDD;
}

.img_main_box
{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.note
{
  font-size:18px;
  line-height: 160%;
  margin-top:10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.more_image
{
  margin-top:10px;
  margin-bottom:10px;
}

.more_image_item
{
  margin-top:20px;
  margin-bottom:20px;
}

.more_image_item_note
{
  font-size:15px;
  padding-top:8px;
  padding-bottom:10px;
}
